{% if not app.user %}
<nav>
  <div id="container-nav">
    <p>RDV PROJECT</p>
    <ul>
      <li>
        <a href="{{path('app_homepage')}}">HOME <i class="fas fa-home"></i></a>
      </li>
      <li>
        <a href="#">APPOINTMENT <i class="fas fa-calendar-check"></i></a>
      </li>
      <li>
       <a href="{{path('app_login')}}">SIGN IN</a> / <a href="{{path('app_register')}}">SIGN UP <i class="fas fa-users"></i></a>
      </li>
    </ul>
  <div>
</nav>
{% else %}
<nav>
  <div id="container-nav">
    <p>RDV PROJECT</p>
    <ul>
      <li>
        <a href="{{path('app_homepage')}}">HOME <i class="fas fa-home"></i></a>
      </li>
      <li>
       {# <a href="{{path('app_profil')}}"></a> #}
       <a href="{{path('app_logout')}}">DISCONNECT <i class="fas fa-power-off"></i></a>
      </li>
    </ul>
  <div>
</nav>
{% endif %}


 {# <li>
        <a href="#">PROFIL</a>
      </li>
      <li>
        <a href="#">CONTACTS</a>
      </li> #}